.home {
  color: black;
  flex-shrink: 1;
  min-width: 0;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: black;
  }
}

.home__title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home__subtitle {
  color: var(--mantine-color-text-tertiary);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
}
